#ignore all Datasets
RFW/
RFW1_uncentered_v2/
RFW4_uncentered_v2/
RFW1_v2/
RFW4_v2/
Occlusions/

#ignore model weights
models/


#ignore large result files
results/

#ignore zips
*.zip

#ignore all logs
*.log

#ignore pychache
recreate_occluded/__pycache__/
src/__pycache__/